.hnavbar-default {
  background-color: #2577e3;
  border-color: #80b3ec;
}
.hnavbar-default .hnavbar-brand {
  color: #ecf0f1;
}
.hnavbar-default .hnavbar-brand:hover, .hnavbar-default .hnavbar-brand:focus {
  color: #ecdbff;
}
.hnavbar-default .hnavbar-text {
  color: #ecf0f1;
}
.hnavbar-default .hnavbar-nav > li > a {
  color: #ecf0f1;
}
.hnavbar-default .hnavbar-nav > li > a:hover, .hnavbar-default .hnavbar-nav > li > a:focus {
  color: #ecdbff;
}
.hnavbar-default .hnavbar-nav > li > .dropdown-menu {
  background-color: #2577e3;
}
.hnavbar-default .hnavbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.hnavbar-default .hnavbar-nav > li > .dropdown-menu > li > a:hover,
.hnavbar-default .hnavbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ecdbff;
  background-color: #80b3ec;
}
.hnavbar-default .hnavbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #2577e3;
}
.hnavbar-default .hnavbar-nav > .active > a, .hnavbar-default .hnavbar-nav > .active > a:hover, .hnavbar-default .hnavbar-nav > .active > a:focus {
  color: #ecdbff;
  background-color: #80b3ec;
}
.hnavbar-default .hnavbar-nav > .open > a, .hnavbar-default .hnavbar-nav > .open > a:hover, .hnavbar-default .hnavbar-nav > .open > a:focus {
  color: #ecdbff;
  background-color: #80b3ec;
}
.hnavbar-default .hnavbar-toggle {
  border-color: #80b3ec;
}
.hnavbar-default .hnavbar-toggle:hover, .hnavbar-default .hnavbar-toggle:focus {
  background-color: #80b3ec;
}
.hnavbar-default .hnavbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.hnavbar-default .hnavbar-collapse,
.hnavbar-default .hnavbar-form {
  border-color: #ecf0f1;
}
.hnavbar-default .hnavbar-link {
  color: #ecf0f1;
}
.hnavbar-default .hnavbar-link:hover {
  color: #ecdbff;
}

@media (max-width: 767px) {
  .hnavbar-default .hnavbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .hnavbar-default .hnavbar-nav .open .dropdown-menu > li > a:hover, .hnavbar-default .hnavbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecdbff;
  }
  .hnavbar-default .hnavbar-nav .open .dropdown-menu > .active > a, .hnavbar-default .hnavbar-nav .open .dropdown-menu > .active > a:hover, .hnavbar-default .hnavbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: #80b3ec;
  }
}