<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="css/blended_layout.css">
    <link rel="stylesheet" type="text/css" href="css/cssreset-min.css">
	
    <title>招标大厅</title>
	
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="lib/jquery/jquery-2.1.4.min.js"></script>
    <script src="lib/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>    
	<link href="lib/bootstrap-3.3.2-dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="lib/jquery-ui-1.11.4.custom/jquery-ui.css">
	<script src="lib/jquery-ui-1.11.4.custom/jquery-ui.js"></script>

	<!--modify bootstrap navbar default color   http://work.smarchal.com/twbscolor/-->
	<link rel="stylesheet" type="text/css" href="css/navbar_color.css">
	
	<link rel="stylesheet" type="text/css" href="css/bootstrap_tab_color.css">
	<link rel="stylesheet" type="text/css" href="css/release_content.css">
	
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/bootstrap-datepicker.zh-CN.js"></script>
	  

</head>

<body>
    <div class="blended_grid">
		<div class="pageHeaderAd">
			顶部广告位
		</div>
		
		<div class="pageBanner">
			<div class="logoImage">
				<a title="携程旅行网" href="http://www.ctrip.com"><image src="image/logo.jpg" /></a>
			</div>
			
			<div class="searchBox">
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search">
					</div>
					<button type="submit" class="btn btn-default search-btn"><span class="glyphicon glyphicon-search"></span></button>
				</form>
			</div>
			
			<div class="contactInfo">
				<p>联系电话： 1111111</p>
			</div>
		</div>
		
        <div class="pageHeader">
			<nav class="navbar-nav navbar-default hnavbar-nav hnavbar-default">
				<ul class="nav navbar-nav hnav hnavbar-nav">
					<li><a href="#">首页</a></li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown">找场地<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">国内场地</a></li>
							<li class="divider"></li>
							<li><a href="#">国际场地</a></li>
							<li class="divider"></li>
							<li><a href="#">场地动态</a></li>
						</ul>
					</li>
					<li><a href="#">配套服务</a></li>
					<li><a href="#">发布大厅</a></li>
					<li><a href="#">需求大厅</a></li>
					<li><a href="#">活动策划</a></li>
					<li><a href="#">团购</a></li>
					<li><a href="#">攻略</a></li>
					<li><a href="#">全球购</a></li>
					<li><a href="#">礼品卡</a></li>
					<li><a href="#">商旅</a></li>
					<li><a href="#">更多</a></li>
					<li><a href="#">游轮</a></li>

				</ul>
			</nav>
        </div>
		
		<div class="pageContentHeader">
			<div class="bread_crumb">
				<a href="#">我的会议</a>
				&gt;
				<span>首页</span>
			</div>
		</div>
		
		<div class="pageContent">
			<div class="contentLeft">
				<image src="image/leftImage.png"/>
			</div>
			
			<div class="contentCenter">
			</div>
			
			<div class="contentRight">
				<div class="inviteProcess">
					招标流程广告位
				</div>
				
				<div class="meetingStatistic">
					会议需求统计
				</div>
				
				<div class="releaseContent">
				    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
						<li class="active take-all-space-you-can">
							<a href="#release_detailed" data-toggle="tab">
								<div align="center">
									<h2>精准发布</h2>
									<p>需求更详细 推荐更快速 报价更精准 </p>
								</div>
							</a>
						</li>
						<li class="take-all-space-you-can">
							<a href="#release_quick" data-toggle="tab">
								<div align="center">
									<h2>快速发布</h2>
									<p>5秒发布 快速反馈 便捷体验</p>
								</div>
							</a>
						</li>
					</ul>
	
					<div id="my-tab-content" class="tab-content" style="padding: 5px 5px 5px 20px">
						<div class="tab-pane active" id="release_detailed">
							<div align="center">
								<h4 class="pub-tit">
									<span>基本需求</span>
								</h4>
							</div>
							
							<div class="option" style="margin: 5px 0px">
								<p style="font-weight: bold; font-size: 18px;"><span style="color: red">*</span>酒店位置 
									<a href="#">
										<span class="glyphicon glyphicon-question-sign"></span>
									</a>
								</p>								
								<a href="#">
									<image src="image/map.png"/>
								</a>
								<span class="glyphicon glyphicon-chevron-left"/>
								<span>点击左侧地图精确选择酒店位置</span><span style="color: red">(重要)</span>
							</div>
							<div class="option" style="margin: 5px 0px">
								<p style="font-weight: bold; font-size: 18px;"><span style="color: red">*</span>需要的场地类型（可多选） </p>
								 <div class="checkbox">
									<label style="margin: 0px 20px; font-size: 15px">
									  <input type="checkbox" class="big-checkbox"> 五星豪华标准
									</label>
									<label style="margin: 0px 20px; font-size: 15px">
									  <input type="checkbox" class="big-checkbox"> 四星中高档标准
									</label>
									<label style="margin: 0px 20px; font-size: 15px">
									  <input type="checkbox" class="big-checkbox"> 三星经济普通 
									</label>
									<label style="margin: 0px 20px; font-size: 15px">
									  <input type="checkbox" class="big-checkbox"> 特色场地(会所餐厅，会议中心等)
									</label>
								</div>
							</div>
							<div class="option" style="margin: 5px 0px">
								<p style="font-weight: bold; font-size: 18px;"><span style="color: red">*</span>开会日期 </p>
								<div class="form-group" >
									<div class="input-group date" id="datetimepickerBeginDate" style="width: 200px; float: left">
										<input type="text" class="form-control" />
										<span class="input-group-addon">
											<span class="glyphicon glyphicon-calendar"></span>
										</span>
									</div>
									<div style="margin: 2px 20px;float: left"> 至 </div>
									<div class="input-group date" id="datetimepickerEndDate" style="width: 200px;">
										<input type="text" class="form-control" />
										<span class="input-group-addon">
											<span class="glyphicon glyphicon-calendar"></span>
										</span>
									</div>
								</div>
							</div>
							<div class="option" style="margin: 5px 0px">
								<form class="form-horizontal">
									<div class="form-group">
										<label class="col-md-3">
											<p style="font-weight: bold; font-size: 18px; padding: 5px 0px"><span style="color: red">*</span>最多参会人数</p>
										</label>
										<div class="col-md-2">
											<input type="text" class="form-control">
										</div>
										<div class="col-md-7">
											<p style="font-size: 18px; padding: 5px 0px">人</p>
										</div>
										
									</div>
								</form>
							</div>
							<div class="option" style="margin: 5px 0px">
								<p style="font-weight: bold; font-size: 18px;">餐饮和客房需求（选填）</p>
								 <div class="checkbox">
									<div>
										<label style="margin: 0px 20px; font-size: 18px">
										  <input type="checkbox" class="big-checkbox" id="isMealNeed"> 需要用餐
										</label>
									</div>
									<div id="mealDetail" style="margin: 0px 50px">
										<span>用餐人数：</span><input type="text" style="width: 50px"/><span>人</span>
										<span style="margin: 0px 20px">用餐时间： </span>
										<label style="margin: 0px 5px">
											<input type="checkbox"> 午餐
										</label>
										<label style="margin: 0px 5px">
											<input type="checkbox"> 晚餐
										</label>
										<span style="margin: 0px 20px">人均预算 </span>
										<select style=" width: 80px">
											<option>100</option>
											<option>200</option>
											<option>300</option>
											<option>400</option>
										</select>
										<span>元</span>
									</div>
									<div>
										<label style="margin: 0px 20px; font-size: 18px">
										  <input type="checkbox" class="big-checkbox" id="isRoomNeed"> 需要用房(普通标间)
										</label>
									</div>
									<div id="roomDetail" style="margin: 0px 50px">
										<table>
											<tr style="font-weight: bold; font-size: 15px">
												<td class="td-table">日期</td>
												<td class="td-table">间数</td>
												<td class="td-table">预算</td>
											</tr>
											<tr id="firstRoomDetail">
												<td class="td-table">
													<div align="center" style="margin: 0px 60px">
														<div class="input-group date" id="datetimepickerFirstRoomDate" style="width: 200px; float: left">
															<input type="text" class="form-control" />
															<span class="input-group-addon">
																<span class="glyphicon glyphicon-calendar"></span>
															</span>
														</div>
													</div>
												</td>
												<td class="td-table">
													<div align="center" style="margin: 0px 60px">
														<input type="text" class="form-control"/>
													</div>
												</td>
												<td class="td-table">
													<div align="center" style="margin: 0px 60px">
														<select class="form-control">
															<option>200</option>
															<option>500</option>
															<option>1000</option>
															<option>200</option>
														</select>
													</div>
												</td>
												<td >
													<button id="firstRoomDetailRemoveBtn" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
												</td>
											</tr>
											<tr id="secondRoomDetail">
												<td class="td-table">
													<div align="center" style="margin: 0px 60px">
														<div class="input-group date" id="datetimepickerSecondRoomDate" style="width: 200px; float: left">
															<input type="text" class="form-control" />
															<span class="input-group-addon">
																<span class="glyphicon glyphicon-calendar"></span>
															</span>
														</div>
													</div>
												</td>
												<td class="td-table">
													<div style="margin: 0px 60px">
														<input type="text" class="form-control"/>
													</div>
												</td>
												<td class="td-table">
													<div style="margin: 0px 60px">
														<select class="form-control">
															<option>200</option>
															<option>500</option>
															<option>1000</option>
															<option>200</option>
														</select>
													</div>
												</td>
												<td>
													<button type="button" id="secondRoomDetailRemoveBtn" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
												</td>
											</tr>
										</table>
									</div>
									
								</div>
							</div>
							<div class="option" style="margin: 5px 0px">
								<form class="form-horizontal">
									<div class="form-group">
										<label class="col-md-4">
											<p style="font-weight: bold; font-size: 18px; padding: 5px 0px"><span style="color: red">*</span>会议总预算(含餐饮客房预算)</p>
										</label>
										<div class="col-md-2">
											<input type="text" class="form-control">
										</div>
										<div class="col-md-6">
											<p style="font-size: 18px; padding: 5px 0px">元以内</p>
										</div>
										
									</div>
								</form>
							</div>
							
							<div class="option" style="margin: 5px 0px">
								<form class="form-horizontal">
									<div class="form-group">
										<label class="col-md-3">
											<p style="font-weight: bold; font-size: 18px; padding: 5px 0px"><span style="color: red">*</span>酒店投标截止日期</p>
										</label>
										<div class="col-md-3">
											<div class="input-group date" id="datetimepickerInviteDeadLine" style="width: 200px; float: left">
												<input type="text" class="form-control" />
												<span class="input-group-addon">
													<span class="glyphicon glyphicon-calendar"></span>
												</span>
											</div>											
										</div>
										<div class="col-md-6">
											<p style="font-size: 18px; padding: 5px 0px">过了截止日期，无法报销</p>
										</div>
										
									</div>
								</form>
							</div>

							<div class="option" style="margin: 5px 0px">
								<form class="form-horizontal">
									<div class="form-group">
										<label class="col-md-12">
											<p style="font-weight: bold; font-size: 18px; padding: 5px 0px">舞美设施道具</p>
										</label>
										<div class="checkbox">
											<label style="margin: 0px 20px; font-size: 18px" class="col-md-12">
											  <input type="checkbox" class="big-checkbox"> 道具1
											</label>
											<label style="margin: 0px 20px; font-size: 18px" class="col-md-12">
											  <input type="checkbox" class="big-checkbox"> 道具2
											</label>
										</div>
									</div>
								</form>
							</div>							
							<div class="option" style="margin: 5px 0px">
								<form class="form-horizontal">
									<div class="form-group">
										<label class="col-md-2">
											<p style="font-weight: bold; font-size: 18px; padding: 5px 0px">其他需求</p>
										</label>
										<div class="col-md-6">
											<textarea class="form-control" rows="5" id="comment"></textarea>
										</div>
								
									</div>
								</form>
							</div>	
							
							<div class="option" style="margin: 5px 0px">
								<form class="form-horizontal">
									<div class="form-group">
										<label class="col-md-2">
											<p style="font-weight: bold; font-size: 18px; padding: 5px 0px">公司名称</p>
										</label>
										<div class="col-md-4">
											<input type="text" class="form-control">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-2">
											<p style="font-weight: bold; font-size: 18px; padding: 5px 0px">联系人</p>
										</label>
										<div class="col-md-4">
											<input type="text" class="form-control">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-2">
											<p style="font-weight: bold; font-size: 18px; padding: 5px 0px">联系电话</p>
										</label>
										<div class="col-md-4">
											<input type="text" class="form-control">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-2">
											<p style="font-weight: bold; font-size: 18px; padding: 5px 0px">常用邮箱</p>
										</label>
										<div class="col-md-4">
											<input type="text" class="form-control">
										</div>
									</div>
									<div class="checkbox">
										<label style="margin: 0px 20px; font-size: 18px" class="col-md-5">
										  <input type="checkbox" class="big-checkbox"> 不允许商家与我联系，仅接受淘会场在线报价
										</label>
										<label style="margin: 0px 20px; font-size: 18px" class="col-md-6">
										  <input type="checkbox" class="big-checkbox"> 不允许商家与我联系，仅接受淘会场在线报价
										</label>
									</div>
									<div class="form-group" style="width: 300px; align: center; margin: 10px 300px">
										<button type="button" class="btn btn-success btn-block" style="font-size: 25px">发布需求</button>
									</div>
								</form>
							</div>							
						</div>
						
						<div class="tab-pane" id="release_quick">
							<div align="center">
								<h4 class="pub-tit">
									<span>基本需求</span>
								</h4>
							</div>
							<div class="option" style="margin: 5px 0px">
								<form class="form-horizontal">
									<div class="form-group">
										<label class="col-md-2">
											<span style="font-weight: bold; font-size: 18px; padding: 5px 0px">联系人</span>
										</label>
										<div class="col-md-6">
											<input type="text" class="form-control">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-2">
											<span style="font-weight: bold; font-size: 18px; padding: 5px 0px">联系电话</span>
										</label>
										<div class="col-md-6">
											<input type="text" class="form-control">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-2">
											<span style="font-weight: bold; font-size: 18px; padding: 5px 0px">常用邮箱</span>
										</label>
										<div class="col-md-6">
											<input type="text" class="form-control">
										</div>
									</div>
                                    <form class="form-horizontal">
									    <div class="form-group">
										    <label class="col-md-2">
											    <p style="font-weight: bold; font-size: 18px; padding: 5px 0px">其他需求</p>
										    </label>
										    <div class="col-md-6">
											    <textarea class="form-control" rows="5" id="Textarea1"></textarea>
										    </div>
									    </div>
								    </form>

									<div class="form-group" style="width: 300px; align: center; margin: 10px 300px">
										<button type="button" class="btn btn-success btn-block" style="font-size: 25px">发布需求</button>
									</div>
								</form>
							</div>							
						</div>
						
					</div>

				</div>
			</div>
		</div>
    </div>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
		$('#tabs').tab();
		$('#datetimepickerBeginDate, #datetimepickerEndDate, #datetimepickerFirstRoomDate, #datetimepickerSecondRoomDate, #datetimepickerInviteDeadLine').datepicker({
                language: 'zh-CN',
                autoclose: true,
                todayHighlight: true
        });
		//for meal checkbox select
		$('#mealDetail').hide();
		$('#roomDetail').hide();
		$('#isMealNeed').click(function(){
			var check=$(this).prop('checked');
			if(check==true){
				$('#mealDetail').show();
			}
			else{
				$('#mealDetail').hide();
			}
		});	
		$('#isRoomNeed').click(function(){
			var check=$(this).prop('checked');
			if(check==true){
				$('#roomDetail').show();
			}
			else{
				$('#roomDetail').hide();
			}
		});
		//for room detail remove
		$('#firstRoomDetailRemoveBtn').click(function(){
			$('#firstRoomDetail').remove();
		});
		$('#secondRoomDetailRemoveBtn').click(function(){
			$('#secondRoomDetail').remove();
		});
    });

</script>
